@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{margin: 0;padding: 0;outline: none; box-sizing: border-box; font-family: 'Ubuntu', sans-serif;}
    body,html {height: 100%;background-image: url(../img/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;height: 1040px;overflow-x: hidden;}
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
        border-style: none;
        -webkit-perspective: 0;
        perspective: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        visibility: visible;
        backface-visibility: hidden;
    }
    .common_wrap{margin: 0 auto; max-Width: 1000px;padding: 10px 20px;}
    .clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
    .inner{float: left;width: 100%;}
    :root {
        --button-color: #e26a2c;
        --nav-color:rgb(255, 255, 255);
        --heading-color:rgb(255, 255, 255);
        --ancor-color: #ffffff;
      }
main,header,section,footer{float: left;width: 100%;}
a{text-decoration: none;}

.cover{position: absolute; height: 100vh;width: 100vw;background-color: #ffffff;display: flex;align-items: center;justify-content: center; 
    animation-name:opa;
    animation-duration: 17s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;z-index: 111;}

.cover img{
    animation-name:opai;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.container{
    float: left;
    width: 100%;
    height: 100vh;
}
.container h3{margin-bottom: 25px;margin-top: 100px;}
.fir{padding: 10px 0 20px 0;}
p{line-height: 30px;}

.lan{padding: 20px 0 40px 0;letter-spacing: 1px;}

.kall{position: absolute;top: 0;right: 0;width: 150px;}
.fall{position: absolute;bottom: 0px;right: 0px;width: 200px;height: 200px;}

span{color: #373446;}



@keyframes opai{
    0%{opacity: 1;}
    10%{opacity: 1;}
    30%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes opa{
    0%{opacity: 1;}
    10%{opacity: 1;}
    80%{opacity: 0; }
    100%{left: 2000px;}
}


